.field {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  max-width: 100%;
  height: 100vh;

  background-image: url("/assets/img/table_bg_01.jpg");
  background-size: 100% 100%;
}

.card-stack {
  position: relative;
  img {
    position: absolute;
    width: 120px;
  }
}

.card-top {
  cursor: pointer;
  transition: all 125ms ease-in-out;

  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}
