.field {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  max-width: 100%;
  height: 100vh;

  background-image: url("/assets/img/table_bg_01.jpg");
  background-size: 100% 100%;
}

.card-stack {
  img {
    position: absolute;
    width: 120px;
    transform: translate(-50%, -50%);
  }
}
